<%= render partial: "admin-nav-bar"%>
<p class="form"><%=link_to "Create Reward", new_admin_reward_path %></p>
<h1>Available Rewards:</h1>
<div class="form">
  <% @rewards.each do |reward| %>
  <div class="boxed">
    <p>Name: <%=reward.name%></p>
    <p>Description: <%=reward.description%></p>
    <p>Price: <%=reward.price%></p>
    <%= link_to "Edit", edit_admin_reward_path(reward) %>
    <%= link_to "Delete", admin_reward_path(reward), method: "delete" %>
  </div>
    <% end %>
  </form>
</div>